<section class="page-path">
  <div class="container">
    <div class="intro">
      <h2 class="text-center-title">Dare To Build Your Future</h2>
      <h5 class="text-center-subtitle">What do you want to learn today? What is your dream job? </h5>
      <h5 class="text-center-subtitle-lower">I would like...</h5>
    </div>
  </div>
</section>

<div class="content-box">
  <div class="box" style="background: url(assets/ai.png);">
   
       <div class="img"> Understanding Artificial Intelligence  
    </div>
  </div>
  <div class="box"  style="background: url(assets/data-science.png);">
          
          
      <div class="img"> Learn Data Science
       </div>
  </div>
  <div class="box" style="background: url(assets/machine-learning.png);">
          
      <div class="img">
          Understanding Machine Learning
       </div>
  </div>
  
  <div class="box" style="background: url(assets/sdc.png);">

      <div class="img">
          Learning the technique of Autonomous Driving
       </div>
  </div>
  <div class="box" style="background: url(assets/programming-basics.png);">
      
      <div class="img">
          Learn Basics of Programming
       </div>
  </div>
  <div class="box" style="background: url(assets/websites.png);">
      
      <div class="img">
Build Websites
       </div>
  </div>
  <div class="box" style="background: url(assets/machine-learning2.png);">
      
      <div class="img">
          Develop Mobile Apps
       </div>
  </div>
  <div class="box"  style="background: url(assets/vr.png);">
      <div class="img">Learning Virtual reality
          
       </div>

  </div>
  <div class="box" style="background: url(assets/predictive-analytics.png);">
      
          <div class="img">Learning predictive analysis for Buisness
       </div>
  </div>
  <div class="box " style="background: url(assets/blue.png);">
          <div class="img">
              I am not sure. Go to the Course Catalog
       </div>
  </div>
 
</div>