<nav >
  <div class="toggle">
     <div class="menu"> <i class="fas fa-bars" aria-hidden="true"></i>
</div>

  </div>
  <!-- <div class="logo">LOGO</div> -->
  <ul>
    <li><a href="#">Courses</a></li>
    <li><a href="#">Blogs</a></li>
    <li><a href="#">Become an Instructor</a></li>
    <div class="spacer">
        <!-- <i class="fa fa-sign-in" aria-hidden="true"></i> -->
      <i class="fa fa-unlock-alt"></i>
    <a href="#" id="Login">Login | </a> <i class="fa fa-user"></i>
    <a href="#">SignUp</a></div>
    <div class="arrow-up"></div>
    <div class="login-form">
      <form class="new">
          <label>Email</label>
        <div>
          
          <input type="email" placeholder="Email" required/>
          </div>
          <label>Password</label>
          <div>
          
          <input type="password" placeholder="Password" required/>
        </div>
        <div>
       
          <input type="submit" value="LogIN"/>
        </div>
        <div>
        <a href="#" class="new" style="color: gray; top: 20px; bottom: 2px;
        font-size: 16px;">Forgot Password</a>
        </div>
      </form>
    </div>
  </ul>
</nav>