<div class="bodyimage">

  <img src="assets/bodyimage.jpeg" class="image-responsive" style="width:100%;">
   
<div class="search-box">
    
    <form>
       
      <input type="search" placeholder="Explore Your Favourite Course...">
      <i class="fa fa-search"></i>
    </form>
  </div>
  
<p>
  Top Trending Courses</p>

 <div class="container">
   <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
          <div class="card" style="width: 20rem; height: 20rem;">
              <img src="assets/blockchain.jpg" class="image-responsive" style="height: 12rem;">
              <div class="card-body">
                <h2 class="card-title">Blockchain</h2>
                <span class="Comments pull-right">
                    <a href="#">
                      <i class="fa fa-comments" aria-hidden="true"></i>24</a>
                </span>Basics of Cryptocurrency and Bitcoin Course
                <div class="cost-status">
                  <a href="#" style="color:green;">Pro</a>
                </div>
              </div>

          </div>
          
     </div>
     <div class=" col-md-4 col-sm-4 col-xs-4">
        <div class="card" style="width: 20rem; height: 20rem;">
            <img src="assets/mean.png" class="image-responsive" style="height: 12rem;">
            <div class="card-body">
              <h2 class="card-title">MEAN Stack </h2>
              <span class="Comments pull-right">
                  <a href="#">
                    <i class="fa fa-comments" aria-hidden="true"></i>24</a>
              </span>Learn mongoDB, Express.js, AngularJS, node.js
              <div class="cost-status">
                <a href="#" style="color:green;">Pro</a>
              </div>
            </div>

        </div>
        
   </div>
   <div class="col-md-4 col-sm-4 col-xs-4">

      <div class="card" style="width: 20rem; height: 20rem;">
          <img src="assets/graphicsdesign.jpg" class="image-responsive" style="height: 12rem;">
          <div class="card-body">
            <h2 class="card-title">Graphics Design</h2>
            <span class="Comments pull-right">
                <a href="#">
                  <i class="fa fa-comments" aria-hidden="true"></i>24</a>
            </span>Have a Creative Knowledge in Adobe photoshop, Illustrator, Fireworks, Creative Suite.
            <div class="cost-status">
              <a href="#" style="color:green;">Pro</a>
            </div>
          </div>

      </div>
      
 </div>
 <div class=" col-md-4 col-sm-4 col-xs-4">
    <div class="card" style="width: 20rem; height: 20rem;">
        <img src="assets/webdev.jpg" class="image-responsive" style="height: 12rem;">
        <div class="card-body">
          <h4 class="card-title">Web-Development</h4>
          <span class="Comments pull-right">
              <a href="#">
                <i class="fa fa-comments" aria-hidden="true"></i>24</a>
          </span>Learn PHP, .net, Java, Python, Perl, Ruby.
          <div class="cost-status">
            <a href="#" style="color:green;">Pro</a>
          </div>
        </div>

    </div>
    
</div>
<div class=" col-md-4 col-sm-4 col-xs-4">

    <div class="card" style="width: 20rem; height: 20rem;">
        <img src="assets/advwebdev.jpg" class="image-responsive" style="height: 12rem;">
        <div class="card-body">
          <h4 class="card-title">Advanced Web Development</h4>
         Have a Quick grip in Laravel, CodeIgniter, CMS,  Django, SASS.
          
        </div>

    </div>
    
</div>
<div class=" col-md-4 col-sm-4 col-xs-4">
    <div class="card" style="width: 20rem; height: 20rem;">
        <img src="assets/mobile app development.png" class="image-responsive" style="height: 12rem;">
        <div class="card-body">
          <h4 class="card-title">Mobile App Development</h4>
          Create Android, IOS Native and Hybrid Apps.
          <div class="cost-status">
            <a href="#" style="color:green;">Pro</a>
          </div>
        </div>

    </div>
    
</div>
<div class="col-md-4 col-sm-4 col-xs-4">

    <div class="card" style="width: 20rem; height: 20rem;">
        <img src="assets/engineering.jpg" class="image-responsive" style="height: 12rem;">
        <div class="card-body">
          <h2 class="card-title">Engineering</h2>
          <span class="Comments pull-right">
              <a href="#">
                <i class="fa fa-comments" aria-hidden="true"></i>24</a>
          </span>Discover by learning innovative concepts in various branches of Engineering.
          <div class="cost-status">
            <a href="#" style="color:green;">Pro</a>
          </div>
        </div>

    </div>
    
</div>
<div class="col-md-4 col-sm-4 col-xs-4">
    <div class="card" style="width: 20rem; height: 20rem;">
        <img src="assets/medical.jpg" class="image-responsive" style="height: 12rem;">
        <div class="card-body">
          <h2 class="card-title">Medicine</h2>
          <span class="Comments pull-right">
              <a href="#">
                <i class="fa fa-comments" aria-hidden="true"></i>24</a>
          </span>Courses for doctor, PG Diploma, pharmacy, Health Care.
          <div class="cost-status">
            <a href="#" style="color:green;">Pro</a>
          </div>
        </div>

    </div>
    
</div><div class="col-md-4 col-sm-4 col-xs-4">

    <div class="card" style="width: 20rem; height: 20rem;">
        <img src="assets/management.jpg" class="image-responsive" style="height: 12rem;">
        <div class="card-body">
          <h2 class="card-title">Management</h2>
          <span class="Comments pull-right">
              <a href="#">
                <i class="fa fa-comments" aria-hidden="true"></i>24</a>
          </span>Study of leadership and authority works in a business context.
          <div class="cost-status">
            <a href="#" style="color:green;">Pro</a>
          </div>
        </div>

    </div>
    
</div>
<div class=" col-md-4 col-sm-4 col-xs-4">
    <div class="card" style="width: 20rem; height: 20rem;">
        <img src="assets/datanstat.jpg" class="image-responsive" style="height: 12rem;">
        <div class="card-body">
          <h2 class="card-title" >Data Analysis</h2>
          <span class="Comments pull-right">
              <a href="#">
                <i class="fa fa-comments" aria-hidden="true"></i>24</a>
              </span>Learn to analyze and interprete the information.
          <div class="cost-status">
            <a href="#" style="color:green;">Pro</a>
          </div>
        </div>

    </div>
    
</div>
<div class="col-md-4 col-sm-4 col-xs-4">
    <div class="card" style="width: 20rem; height: 20rem;">
        <img src="assets/humanities.png" class="image-responsive" style="height: 12rem;">
        <div class="card-body">
          <h2 class="card-title">Humanities</h2>
          <span class="Comments pull-right">
              <a href="#">
                <i class="fa fa-comments" aria-hidden="true"></i>24</a>
          </span>Study of History, Classical Cultures and Literature.

        </div>

    </div>
    
</div>
<div class=" col-md-4 col-sm-4 col-xs-4">
    <div class="card" style="width: 20rem; height: 20rem;">
        <img src="assets/language.jpg" class="image-responsive" style="height: 12rem;">
        <div class="card-body">
          <h2 class="card-title">Languages</h2>
          <span class="Comments pull-right">
              <a href="#">
                <i class="fa fa-comments" aria-hidden="true"></i>24</a>
          </span>Be fluent in Mandarin Chinese, Spanish, English, German in 3 months.
          
        </div>

    </div>
    
</div>

   </div>
 </div>
 <app-footer></app-footer>